DB_NAME='surfersco'
DB_USER='root'
DB_PASSWORD=''

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
# DB_HOST='localhost'
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://surfersco.test'
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY=':LHY|RCK`/>;,+MXpJqewuBz_cm-(Fg.go<:JtwaN{&V8s2*t4<[AIZ{t)_3]vFl'
SECURE_AUTH_KEY='p;At(N6gBJ9M:%^e@R(e%YPvj2Gch*;/n)L@XISQNG()F!vJGle]MZ^:J:fW8{Dj'
LOGGED_IN_KEY=':gd=<RbaRcA1U$*rWQO2pi+QEOp|e0I)]$gaNrp_VUZYVL<VuhgzP1Y`lY`!2-$v'
NONCE_KEY='2YH#1AkOh9n:h49D&q3vd#qCcDW9m_Q-rPvbfEd(ykEr}B^dpHYbQn=@IWD4wJTl'
AUTH_SALT='@ZVe6kxq?Wx,^h+FxTP`;5+?l1MTFn]ihVCc-&;{;AZ9/>HjuK0,&Ndfffqh`O3`'
SECURE_AUTH_SALT=')@c+pIe:iE#gL.T[3]T-)#[?{N9RDjYE8*<)cvM3#TY&ZC&Z?Eb;Jl_ky}*zA&qt'
LOGGED_IN_SALT='1i-FfaQUwFhYfKz_3[Xi9`kQqQtz|?a{Vz+|>PFL,&rG<OBr)6&-)_;`V%X?8yNI'
NONCE_SALT='bxx{{BX61ZH$tc!Ncd*o7UY.kR0B{*p#;MDE[&[m-,{*or}j&E/+TXZ%?o+ekUL?'
