.title{
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    @include media-breakpoint-up(md)
}

.background-title{
    margin-bottom: -20px;
    font-weight: 700;
    font-size:  3em;
    text-transform: uppercase;
    color: #efefef;
    //color: #fafafa;
    user-select: none;
    @include media-breakpoint-up(md){
        width: fit-content;
        height: fit-content;
        margin-bottom: -10px;
        line-height: 1;
        font-size: 5em;
    }

    @include media-breakpoint-up(lg){
        font-size: 10.25em;
        margin-bottom: -21px;
    }
}