.background-title{
    margin-bottom: -18px;
    font-weight: 700;
    font-size:  3em;
    font-family:  'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fafafa;
    user-select: none;
}