@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}

@mixin standard-button{
    //ADD IMPORTANT TO ALL
    max-height: 36px;
    font-size: 14px;
    background-color: $main-color;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px;
    text-transform: uppercase;
    box-shadow: $mini-shadow;
    transition: .3s;

    @media (hover: hover) {
        &:hover {
            background: $light-main-color;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        }
    }
}