@mixin mx-auto{
    margin-left: auto;
    margin-right: auto;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-align-center{
    display: flex;
    align-items: center;
}

@mixin flex-justify-center{
    display: flex;
    justify-content: center;
}

@mixin justify-align-center{
    justify-content: center;
    align-items: center;
}

@mixin flex-align-justify-center{
    display: flex;
    @include justify-align-center;
}

@mixin button-standard{
    font-size: 14px;
    color: white;
    padding: 8px;
    max-height: 36px !important;
    background-color: $main-color !important;
    border: none !important;
    border-radius: 4px !important;
    text-transform: uppercase !important;
    box-shadow: $mini-shadow !important;
    transition: .3s !important;

    @media (hover: hover) {
        &:hover {
            background: $light-main-color!important;
            //box-shadow: 0px 0px 10px 0px $light-main-color!important;
        }
    }
}