// Body
$body-bg: #f8fafc;

// Font
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-color: #00b0ff;
$light-main-color: #00d2ff;

// Shadows
$card-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
$mini-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);