footer{
    @include flex-justify-center;
    background-color: #2b2b2b;
    margin-top: 100px;
    padding: 50px 0;
    font-size: 18px;

    .col{
        @include flex-column;

        a{
            display: inline-block;
            text-decoration: none;
            color: white;
        }
    }
}