.about-us{
    @include flex-column;
    position: relative;
    margin-bottom: 100px;

    .wrapper-with-background{
        background: url('../../images/surfer.jpg'); 
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about{
        @include flex-align-justify-center;
        flex-direction: column;
        height: 500px;
        color: #000000;
        @include media-breakpoint-up(md){ width: 100%; }

        .content{
            background-color: #ffffff;
            padding: 3em;
            text-align: center;
            @include media-breakpoint-up(lg){
                width: 50%;
                margin-top: auto;
                margin-right: auto;
            }

            .title-text{
                @include flex-align-justify-center;
                flex-direction: column;
                text-align: center;

                .title{
                    //font-family: 'Montserrat';
                    text-transform: uppercase;
                }

                .text{ font: italic large "Playfair Display", serif; }

                a{
                    //font-family: "Montserrat", sans-serif;
                    text-decoration: none;
                }
            }
        }

        .about-video{
            display: flex;
            margin: 1em auto;
            height: 30%;
            box-shadow: 0px 0px 13px 0px #000000bf;
            @include media-breakpoint-up(md){ height: 55%; }
        }
    }
}