.form-wrapper{
    width: 100%;

    .custom-form{
        padding: 50px 50px 0;

        input, textarea{
            border: none;
            border-radius: 4px;
            box-shadow: $mini-shadow;
            padding: 10px;

            &:focus-visible{ outline-color: $main-color; }

            &::placeholder{ opacity: .5; }
        }

        input{
            &[type="checkbox"]{
                width: 20px;
                height: 20px;
                appearance: none;
                position: relative;
                cursor: pointer;

                &:checked{
                    background-color: $main-color;

                    &::after{
                        content: '\2714';
                        font-size: 15px;
                        position: absolute;
                        top: 0;
                        left: 5px;
                        color: #ffffff;
                    }
                }
            }

            &[type="email"]{ width: 100%; }

            /* &[type="date"]{
                &:-webkit-datetime-edit-text,
                &::-webkit-datetime-edit-month-field,
                &::-webkit-datetime-edit-day-field,
                &::-webkit-datetime-edit-year-field {
                    opacity: .5!important;
                }
            } */
        }

        label{
            margin-left: 1rem;
            color: #000000;
        }

        .checkbox-label{
            @include flex-align-center;
            flex-direction: row;
        }

        textarea, .checkbox-label{
            width: 100%;
            margin-bottom: 1rem;
        }

        .button-submit{ @include button-standard; }

        .row{
            margin: 0px unset 1rem; 
            gap: 5px;
        }
    }
}