.hero{
    @include flex-column;
    font-family: 'Playfair Display',serif;
    font-style: italic;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 100px;

    .slogan{
        font-size: 20px;
        color: #000000
    }

    .subtitle{
        font-size: 1rem;
        color: #ffffff;
    }
}

@media screen and (min-width: 768px){
    .hero{
        margin: 150px 0;

        .slogan{ font-size: 3rem; }

        .subtitle{ font-size: 1.5rem; }
    }
}