
.product-cards {
    font-family: 'Montserrat', sans-serif;
    margin: 50px 0;

    .card{
        @include flex-col;
        width: 75%;
        
        .product{
            @include flex-col;
            .corner{
                height: 50%;
                position: absolute;
                left: 0;
                z-index: -1;
            }

            .board-1{
                height: 300px;
            }

            .thumbnails{
                display: none;

                img{
                    width: 70px;
                    border: 1px solid #808080;
                    margin: 2px 0;

                    &:hover{
                        border: 2px solid $light-main-color;
                    }
                }
            }
        }

        .product-description{
            @include flex-col;
            margin: 1em;

            .product-name{
                
                h2{
                    font-size: smaller;
                }

                .reviews{
                    @include flex-row;
                    margin-top: 10px;
                    align-content: center;

                    i{
                        color: #ffd119;
                    }

                    a{
                        text-decoration: none;
                        color: #808080;
                        margin-left: 10px;
                    }
                }
            }

            .description{
                margin-top: 1em;

                .tabs{
                    @include flex-row;
                    text-transform: uppercase;
                    font: {
                        weight: bold;
                        size: small;
                    }
                    margin-bottom: 10px;
                    border-bottom: 1px solid #dddddd;
                    list-style-type: none;

                    #main-tab{
                        display: block;
                        a{
                            text-decoration: none;
                            color: #808080;
                        }
                    }

                    li{ display: none; }

                    .active {
                        border-bottom: 2px solid $light-main-color;

                        a{
                            color:#000000;
                            font-weight: bold;
                        }
                    }
                }

                .text{
                    font-size: x-small;
                    margin-bottom: 2em;
                    color: #808080;
                }
            }

            .price-buy-button{
                @include flex-row;
                font-weight: 700;
                align-items: center;

                .price{
                    font-size: small;
                    margin-right: auto;
                }
            }
        }
    }
}
    
@media screen and (min-width: 767px){
    .product-cards {
        margin: 100px 0;

        .card{
            @include flex-row;
            width: 80%;
            
            .product{
                @include flex-row;
                .corner{
                    height: 100%;
                }
    
                .thumbnails{
                    @include flex-col;
                    margin-left: 2em;

                    img{
                        width: 65px;
                        border: 1px solid #808080;
                        margin: 2px 0;
                    }
                }
            }

            .product-description{
                .description{
                    .text{
                        margin-top: 1em;
                    }
                }

                .price-buy-button{
                    .price{
                        font-size: large;
                        margin-right: 25px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1023px){
    .product-cards {
        .card{
            @include flex-row;
            width: 90%;

            .product{
                @include flex-row;

                .board-1{
                    height: 70%;
                }

                .thumbnails{
                    margin-left: 0;

                    img{
                        width: 70px;

                        &:hover{
                            border: 2px solid $light-main-color;
                        }
                    }
                }
            }

            .product-description{
                margin: 4em;

                .product-name{
                    h2{
                        font-size: large;
                    }

                    .reviews{
                        @include flex-row;
                        margin-top: 10px;
                        align-content: center;

                        i{
                            color: #ffd119;
                        }

                        a{
                            text-decoration: none;
                            color: #808080;
                            margin-left: 10px;
                        }
                    }
                }

                .description{
                    margin-top: 2em;

                    .tabs{
                        li{
                            display: block;
                            cursor: pointer;

                            a{
                                text-decoration: none;
                                color: #808080;
                            }
                        }

                        .active {
                            border-bottom: 2px solid $light-main-color;

                            a{
                                color:#000000;
                                font-weight: bold;
                            }
                        }
                    }

                    .text{
                        font-size: medium;
                    }
                }

                .price-buy-button{
                    position: absolute;
                    bottom: 4em;
                    font-weight: 700;

                    .price{
                        font-size: larger;
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}