.product-card {
    @include flex-column;
    width: 100%;
    padding: 0;
    background-color: white;
    color: #000000;
    box-shadow: $card-shadow;
    border-radius: 4px;
    position: relative;
    margin-bottom: 100px;
    @include media-breakpoint-up(md){ flex-direction: row; }

    .product-images{
        @include flex-align-justify-center;
        flex-direction: column;
        background-image: url("../../images/corner.png");
        background-repeat: no-repeat;
        background-size: contain;
        @include media-breakpoint-up(md){
            flex-direction: row;
            gap: 50px;
        }
        @include media-breakpoint-up(lg){ gap: 50px; }

        .product-image{
            height: 300px;
            @include media-breakpoint-up(md){ height: 200px; }
            @include media-breakpoint-up(lg){ height: 70%; }
        }

        .thumbnails{
            display: none;
            @include media-breakpoint-up(md){ @include flex-column; }

            img{
                width: 70px;
                border: 1px solid #808080;
                margin: 2px 0;
                @include media-breakpoint-up(md){ width: 50px; }
                @include media-breakpoint-up(lg){ width: 70px; }

                &:hover{ border: 2px solid $light-main-color; }
            }
        }
    }

    .product-data{
        @include flex-column;
        margin: 20px;
        @include media-breakpoint-up(md){ padding: 20px; }
        @include media-breakpoint-up(lg){
            padding: 0;
            margin: 40px 40px 0 0;
            position: relative;
        }

        .prod-name-reviews{
            .prod-name{
                @include media-breakpoint-up(lg){ font-size: large; }
            }

            .reviews{
                @include flex-align-center;
                flex-direction: row;
                margin-top: 10px;
                align-content: center;

                i{
                    color: #ffd119;
                    font-size: 25px;
                    cursor: pointer;
                }

                a{
                    text-decoration: none;
                    color: #808080;
                    margin-left: 10px;
                }
            }
        }

        .prod-description{
            margin-top: 1em;
            @include media-breakpoint-up(lg){ margin-top: 30px; }

            .tabs{
                @include flex-row;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 10px;
                border-bottom: 1px solid #dddddd;
                list-style-type: none;
                padding-left: 0;

                #main-tab{ display: block; }

                li{
                    display: none;
                    cursor: pointer;
                    @include media-breakpoint-up(lg){
                        padding: 0 10px 5px;
                        display: block;
                    }
                }

                #main-tab a, li a{
                    text-decoration: none;
                    color: #808080;
                }

                .active {
                    border-bottom: 2px solid $light-main-color;

                    a{
                        color:#000000;
                        font-weight: bold;
                    }
                }
            }

            .text{
                margin-bottom: 2em;
                color: #808080;
                @include media-breakpoint-up(md){ margin-top: 1em; }
                @include media-breakpoint-up(lg){
                    &.tab-content{
                        max-height: 240px;
                        overflow-y: auto;
                    }
                }
            }
        }

        .price-cta{
            @include flex-row;
            align-items: center;
            @include media-breakpoint-up(lg){
                position: absolute;
                bottom: 40px;
            }

            .price{
                margin-right: auto;
                @include media-breakpoint-up(md){
                    font-size: large;
                    margin-right: 25px;
                }
                @include media-breakpoint-up(lg){
                    font-size: larger;
                    margin-right: 30px;
                }
            }

            button{ @include button-standard; }
        }
    }
}