.product-card {
    @include flex-col;
    font-family: 'Montserrat', sans-serif!important;
    width: 100%;
    padding: 0;
    background-color: white;
    box-shadow: $card-shadow;
    border-radius: 4px;
    position: relative;
    margin-bottom: 100px;

    .product-images{
        @include flex-col;
        background-image: url("../../images/corner.png");
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: center;
        align-items: center;

        .product-image{
            height: 300px;
        }

        .thumbnails{
            display: none;

            img{
                width: 70px;
                border: 1px solid #808080;
                margin: 2px 0;

                &:hover{
                    border: 2px solid $light-main-color;
                }
            }
        }
    }

    .product-data{
        @include flex-col;
        margin: 20px;

        .prod-name-reviews{
            .prod-name{
                font-size: smaller;
                color: black;
            }

            /* .reviews{
                @include flex-row;
                margin-top: 10px;
                align-content: center;

                i{
                    color: #ffd119;
                }

                a{
                    text-decoration: none;
                    color: #808080;
                    margin-left: 10px;
                }
            } */
        }

        .prod-description{
            margin-top: 1em;

            .tabs{
                @include flex-row;
                text-transform: uppercase;
                font-weight: bold;
                font-size: small;
                margin-bottom: 10px;
                border-bottom: 1px solid #dddddd;
                list-style-type: none;
                padding-left: 0;

                #main-tab{
                    display: block;
                    a{
                        text-decoration: none;
                        color: #808080;
                    }
                }

                li{ display: none; }

                .active {
                    border-bottom: 2px solid $light-main-color;

                    a{
                        color:#000000;
                        font-weight: bold;
                    }
                }
            }

            .text{
                font-size: x-small;
                margin-bottom: 2em;
                color: #808080;
            }
        }

        .price-cta{
            @include flex-row;
            align-items: center;

            .price{
                color: black;
                margin-right: auto;
            }

            button{
                @include standard-button;
            }
        }
    }
}

    
@media screen and (min-width: 767px){
    .product-card {
        flex-direction: row;

        .product-images{
            flex-direction: row;
            gap: 50px;

            .product-image{
                height: 200px;
            }

            .thumbnails{
                @include flex-col;

                img{
                    width: 50px;
                    border: 1px solid #808080;
                    margin: 2px 0;
                }
            }
        }

        .product-data{
            padding: 20px;

            .prod-description{
                .text{
                    margin-top: 1em;
                }
            }

        }

        .price-cta{
            .price{
                font-size: large;
                margin-right: 25px;
            }
        }
    }
}


@media screen and (min-width: 1023px){
    .product-card {
        .product-images{
            gap: 50px;

            .product-image{
                height: 70%;
            }

            .thumbnails{
                img{
                    width: 70px;

                    &:hover{
                        border: 2px solid $light-main-color;
                    }
                }
            }
        }

        .product-data{
            padding: 0;
            margin: 0;
            margin-top: 40px;
            margin-right: 40px;
            position: relative;

            .prod-name-reviews{
                .prod-name{
                    font-size: large;
                }

                /* .prod-reviews{
                    @include flex-row;
                    margin-top: 10px;
                    align-content: center;

                    i{
                        color: #ffd119;
                    }

                    a{
                        text-decoration: none;
                        color: #808080;
                        margin-left: 10px;
                    }
                } */
            }

            .prod-description{
                margin-top: 30px;

                .tabs{
                    li{
                        display: block;
                        cursor: pointer;

                        a{
                            text-decoration: none;
                            color: #808080;
                        }
                    }

                    .active {
                        border-bottom: 2px solid $light-main-color;

                        a{
                            color:#000000;
                            font-weight: bold;
                        }
                    }
                }

                .text{
                    font-size: medium;
                }
            }

            .price-cta{
                position: absolute;
                bottom: 40px;

                .price{
                    font-size: larger;
                    margin-right: 30px;
                }
            }
        }
    }
}
