.social-email .social{
    @include flex-column;

    .background-title{ font-size: 45px; }

    .instagram-card{
        box-shadow: $card-shadow;
        width: fit-content;

        img{ width: 100%; }

        .follow-us{
            @include flex-row;
            align-items: center;
            margin: 0 auto;

            div,i,a{ margin: 10px; }

            div,i{
                color: $main-color;
                font-size:x-large;
                user-select: none;
            }

            div{ text-transform: uppercase; }

            a{
                text-decoration: none;

                &:link, &:visited{ color: grey }
            }
        }
    }
}

.form-wrapper{ display: none; }

@media screen and (min-width: 767px){
    .social-email .social {
        .background-title{ font-size: 5em; }

        .instagram-card .follow-us{
            @include flex-row;
            align-items: center;
        }
    }
}

@media screen and (min-width: 1023px){
    .social-email .container{
        @include flex-row;

        .social .background-title{ font-size: 4em; }

        .form-wrapper{
            display: block;
        }
    }
}