.social-email{
    .container{
        @include media-breakpoint-up(lg){ @include flex-row; }
    }

    .social{
        @include flex-column;

        .background-title{
            font-size: 45px;
            margin-bottom: -10px;
            @include media-breakpoint-up(md){ font-size: 5em; }
            @include media-breakpoint-up(lg){ font-size: 4em; }
        }

        .instagram-card{
            box-shadow: $card-shadow;
            width: 100%;

            img{ width: 100%; }

            .follow-us{
                @include flex-row;
                align-items: center;
                width: 100%;
                padding: 15px;

                div,i{
                    color: $main-color;
                    font-size: 20px;
                    user-select: none;
                }

                div{
                    text-transform: uppercase;
                    margin-left: 1rem;
                    margin-right: auto;
                }

                a{
                    text-decoration: none;

                    &:link, &:visited{ color: grey }
                }
            }
        }
    }
}

.form-wrapper{
    display: none;
    @include media-breakpoint-up(lg){ display: block; }
}